<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="animate-fadeIn">Contenido que aparece suavemente</div>
  <div class="card-body">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', 't-shirt']" class="btn btn-primary animate-spinSlow">View Details</a>
    </div>
  </div>
</div>