<h1 class="text-3xl font-bold font-monstserrat">Todos los productos</h1>
<h2 class="text-xl mb-7">Para todos los gustos</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
<!-- Estado: cargando -->
@if (productsResource.isLoading()) {
  <p>Cargando productos...</p>
}

<!-- Estado: error -->
@if (productsResource.error()) {
  <p class="text-red-500">
    Error: {{ productsResource.error() || 'No se pudieron cargar los productos.' }}
  </p>
}

<!-- Estado: datos cargados -->
@if (productsResource.value()) {
    @for (product of productsResource.value()!.products; track product.id) {
      <product-card [product]="product"></product-card>
    }  
}
  
</div>
  
