/* Minimal CSS while diagnosing build crash (Tailwind disabled) */
@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default, dark --prefersdark;
}
@layer base {
    @font-face {
        font-family: "Montserrat";
        src: url("/assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
    }
}
body {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    padding: 0;
}